<div class="inicio">
    <header>
      <h1>Cuidado de los Animales</h1>
      <p>Descubre cómo proteger y cuidar a nuestros amigos peludos.</p>
    </header>
  
    <section class="hero">
      <img src="assets/hero-animals.jpg" alt="Animales felices" />
    </section>
  
    <section class="acciones">
      <h2>Explora más</h2>
      <div class="enlaces">
        <a routerLink="/informacion">Consejos de Cuidado</a>
        <a routerLink="/galeria">Galería</a>
        <a routerLink="/contacto">Contacto</a>
      </div>
    </section>
  </div>

  <div class="description-block">
    <div class="text">
        <h2>La importancia</h2>
        <p>Asumimos la responsabilidad de nuestras acciones y decisiones, cumpliendo con nuestros compromisos y asumiendo la responsabilidad de los resultados de nuestro trabajo, tanto individual como colectivamente.</p>
    </div>
    <div class="gif">
      <img src="assets/1.png" alt="Gato tranquilo" />
    </div>
  </div>
  
  
  <div>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, placeat dicta ab dolor nulla iure, odio labore accusamus ea aut eveniet fuga fugit odit voluptate. Sequi illum mollitia soluta reprehenderit?</h2>
  </div>